@{
    ViewData["Title"] = "Interfaz consumidor";
    Layout = "~/Views/Shared/ConsumerLayout.cshtml";
}

@section Styles {

    <link rel="stylesheet" href="~/consumers/css/interface-consumer.css" />
}

<div class="container-fluid mt-2 mb-5">
    <div class="products">
        <div class="tab-content">

            <div class="tab-pane fade show active">

                <div class="d-flex align-items-center p-3 bg-white mb-3 gap-2">

                    <span>Buscar por departamento:</span>
                    <select id="sltDepartments" class="form-control-sm"></select>

                    <span>Buscar por distrito:</span>
                    <select id="sltDistricts" class="form-control-sm"></select>

                    <span>Buscar por especialidad:</span>
                    <select id="sltSpecialties" class="form-control-sm"></select>

                    <a id="btnSearchTechnicalsAvailables" class="btn btn-primary">Buscar</a>
                </div>

                <div id="dvTechnicalsByAvailability" class="row g-3"></div>

            </div>
        </div>
    </div>
</div>

<div id="mdlInformationTechnical" class="modal fade" tabindex="-1" aria-labelledby="mdlInformationTechnical" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header float-right">

                <h5>Detalles del perfil</h5>

                <div class="text-right">
                    <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                </div>

            </div>

            <div class="modal-body">

                <div>
                    <div id="dvInformationTechnical" class="box"></div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div id="mdlRequestAttention" class="modal fade" tabindex="-1" aria-labelledby="mdlRequestAttention" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header float-right">

                <h5>Solicitud de atencion</h5>

                <div class="text-right">
                    <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                </div>

            </div>

            <div class="modal-body">

                <div>

                    <div class="form-group" style="display:none;">
                        <label class="col-sm-3 control-label">Agenda:</label>

                        <div class="col-sm-9">
                            <input id="iptAgendaId" type="text" class="form-control" required readonly autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Domicilio:</label>

                        <div class="col-sm-9">
                            <input id="iptAddress" type="text" placeholder="Escriba su domicilio" class="form-control" required autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Descripcion:</label>

                        <div class="col-sm-9">
                            <input id="iptDescription" type="text" placeholder="Escriba la descripcion" class="form-control" required autocomplete="off">
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button id="btnRegisterRequestJob" type="button" class="btn btn-primary">Registrar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div id="mdlReviewsByTechnical" class="modal fade" tabindex="-1" aria-labelledby="mdlReviewsByTechnical" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5>Reseñas del tecnico</h5>
                <div class="text-right">
                    <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                </div>
            </div>

            <div class="modal-body">
                <div class="box" style="max-height: 300px; overflow-y: auto;">
                    <ul id="uReviewsByTechnical" class="list-group"></ul>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        
        $(document).ready(function () {

            var specialties = [];
            var technicals = [];

            $(window).on("load", function () {

                loadDepartments();
                loadSpecialties();
                loadTechnicalsByAvailability();
            });

            $('#sltDepartments').on('change', function () {

                jQuery.ajax({

                    url: '@Url.Action("DistrictsByDepartment", "Locations")' + '?departmentId=' + $(this).val(),
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        var contentHtml = '';

                        for (const item of data) {

                            contentHtml += `<option value="${item.Id}">${item.Name}</option>`;
                        }

                        $('#sltDistricts').html(contentHtml);
                    },
                    error: function () {

                        //window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            });

            $('#dvTechnicalsByAvailability').on('click', '#btnInformationTechnical', function () {

                $(this).parents("div").find("#spnId").each(async function () {

                    await loadInformationTechnical($(this).html());
                });
            });

            $('#dvTechnicalsByAvailability').on('click', '#btnRequestAttention', function () {

                $(this).parents("div").find("#spnAgendaId").each(function () {

                    $('#iptAgendaId').val($(this).html());
                });
            });

            $('#btnRegisterRequestJob').on('click', async function () {

                var information = new FormData();

                information.append("AgendaId", $("#iptAgendaId").val());
                information.append("Address", $("#iptAddress").val());
                information.append("Description", $("#iptDescription").val());

                await registerRequestJob(information);

                $("#iptAgendaId").val('');
                $("#iptAddress").val('');
                $("#iptDescription").val('');

                $('#mdlRequestAttention').modal('hide').on('hidden.bs.modal', function () {
                    $('.modal-backdrop').remove();
                });
            });

            $('#dvTechnicalsByAvailability').on('click', '#btnReviewsByTechnical', function () {

                $(this).parents("div").find("#spnId").each(async function () {

                    await loadReviewsByTechnical($(this).html());
                });
            });

            $('#btnSearchTechnicalsAvailables').on('click', function () {

                var filteredTechnicals = technicals.filter(t => t.SpecialtyId === $('#sltSpecialties').val() && t.DistrictId === $('#sltDistricts').val());

                fillDivTechnicals(filteredTechnicals);
            });

            function loadDepartments() {

                jQuery.ajax({

                    url: '@Url.Action("AllDepartments", "Locations")',
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        var contentHtml = '';

                        for (const item of data) {

                            contentHtml += `<option value="${item.Id}">${item.Name}</option>`;
                        }

                        $('#sltDepartments').html(contentHtml);
                    },
                    error: function () {

                        // window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            }

            function loadSpecialties() {

                jQuery.ajax({

                    url: '@Url.Action("AllSpecialties", "Specialties")',
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        specialties = data;

                        var contentHtml = '';

                        for (const item of data) {

                            contentHtml += `<option value="${item.Id}">${item.Name}</option>`;
                        }

                        $('#sltSpecialties').html(contentHtml);
                    },
                    error: function () {

                        // window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            }

            function loadTechnicalsByAvailability() {

                jQuery.ajax({

                    url: '@Url.Action("TechnicalsByAvailability", "Consumers")',
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        technicals = data;

                        fillDivTechnicals(technicals);
                    },
                    error: function () {

                        //window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            }

            function fillDivTechnicals(listTechnicals) {

                if (listTechnicals.length === 0) {

                    Swal.fire({
                        icon: 'info',
                        title: 'Busqueda realizada!',
                        text: 'Al parecer no se encontro lo que usted esta buscando.'
                    });

                    $('#dvTechnicalsByAvailability').html('');

                    return;
                }

                var contentHtml = '';

                for (const item of listTechnicals) {

                    var filteredSpecialties = specialties.find(s => s.Id === item.SpecialtyId);

                    contentHtml += `
                        <div class="col-md-4">
                            <div class="card">
                                <img src="${item.ProfileUrl}" class="card-img-top">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <span id="spnId" class="font-weight-bold" style="display:none;">${item.Id}</span>
                                        <span id="spnAgendaId" class="font-weight-bold" style="display:none;">${item.AgendaId}</span>
                                        <span class="font-weight-bold">${item.Firstname} ${item.Lastname}</span>
                                        <span class="font-weight-bold">${item.Phone}</span>
                                    </div>
                                    <p class="card-text mb-1 mt-1">${filteredSpecialties.Name}</p>
                                    <div class="d-flex align-items-center flex-row">
                                        <img src="https://i.imgur.com/e9VnSng.png" width="20">
                                        <span class="guarantee">Servicio de calidad</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="text-right buttons">
                                        <button id="btnInformationTechnical" class="btn btn-outline-dark" data-toggle="modal" data-target="#mdlInformationTechnical">Ver perfil</button>
                                        <button id="btnRequestAttention" class="btn btn-dark" data-toggle="modal" data-target="#mdlRequestAttention">Solicitar atencion</button>
                                        <button id="btnReviewsByTechnical" class="btn btn-dark" data-toggle="modal" data-target="#mdlReviewsByTechnical">Ver reseñas</button>
                                    </div>
                                </div>
                            </div>
                        </div>`;
                }

                $('#dvTechnicalsByAvailability').html(contentHtml);
            }

            async function loadInformationTechnical(id) {

                try {

                    var data = await jQuery.ajax({

                        url: '@Url.Action("InformationTechnical", "Consumers")' + `?id=${id}`,
                        method: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                    var filteredSpecialties = specialties.find(s => s.Id === data.SpecialtyId);

                    var contentHtml = `
                        <div class="img" style="text-align: center;">
                            <img alt="" src="${data.ProfileUrl}" style="max-width: 100%; height: auto;">
                        </div>
                        <br>
                        <p>Especialidad: ${filteredSpecialties.Name}</p>
                        <br>
                        <p>Nombres: ${data.Firstname}</p>
                        <br>
                        <p>Apellidos: ${data.Lastname}</p>
                        <br>
                        <p>Edad: ${data.Age}</p>
                        <br>
                        <p>Email: ${data.Email}</p>
                        <br>
                        <p>Telefono: ${data.Phone}</p>
                        <br>`;

                    $('#dvInformationTechnical').html(contentHtml);

                } catch (error) {

                    // window.open('@Url.Action("Error", "Home")', '_self');
                }
            }

            async function registerRequestJob(information) {

                try {

                    var data = await jQuery.ajax({

                        url: '@Url.Action("RegisterRequestJob", "Attentions")',
                        method: 'POST',
                        data: information,
                        cache: false,
                        contentType: false,
                        processData: false
                    });

                    if (data === true) {

                        Swal.fire({
                            icon: 'success',
                            title: 'Solicitud enviada!',
                            text: 'La solicitud se ha realizado correctamente.'
                        });

                    } else {

                        Swal.fire({
                            icon: 'error',
                            title: 'Error al enviar solicitud!',
                            text: 'Se produjo un error al intentar enviar la la solicitud.'
                        });
                    }
                }
                catch (error) {

                    // window.open('@Url.Action("Error", "Home")', '_self');
                }
            }

            async function loadReviewsByTechnical(technicalId) {

                try {

                    var data = await jQuery.ajax({

                        url: '@Url.Action("ReviewsByTechnical", "Attentions")' + `?technicalId=${technicalId}`,
                        method: 'GET',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8'
                    });

                    var contentHtml = '';

                    for (const item of data) {

                        const stars = '★'.repeat(item.Score) + '☆'.repeat(5 - item.Score);

                        contentHtml = `
                            <li class="list-group-item">
                                <div><small>15/10/2024 15:49 PM</small></div>
                                <div>${stars}</div>
                                <div>${item.Opinion}</div>
                            </li>`;
                    }

                    $('#uReviewsByTechnical').html(contentHtml);

                } catch (error) {

                    // window.open('@Url.Action("Error", "Home")', '_self');
                }
            }
        });
    
    </script>
}