@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es-pe">
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/access/css/login.css" />
    <title>Iniciar sesion - HelpTechWebApp</title>

</head>
<body>

    <div class="loginbox">
        <img src="https://i.imgur.com/ZYzTdD0.png" class="avatar">

        <h1>Iniciar sesion</h1>

        <form id="frmCredentials">

            <p>Username</p> <input id="iptUsername" type="text" placeholder="Ingresar DNI" required autocomplete="off">
            <p>Password</p> <input id="iptPassword" type="password" placeholder="Ingresar contraseña" required autocomplete="off">

            <select id="sltRoles">
                <option selected>Seleccione su roll</option>
                <option>TECNICO</option>
                <option>CONSUMIDOR</option>
            </select>

            <hr />

            <input id="iptLogin" type="submit" />
            <a href="" style="color:aqua"  data-toggle="modal" data-target="#mdlUpdateCredential">Olvidaste tu contraseña?</a>
            <a href="" style="color:greenyellow" data-toggle="modal" data-target="#mdlUpdateContract">Renovar membresia?</a>
            <a href="" style="color:wheat" data-toggle="modal" data-target="#mdlTermsConditions">Terminos y condiciones</a>

        </form>
    </div>

    <div id="mdlUpdateCredential" class="modal fade" tabindex="-1" aria-labelledby="mdlUpdateCredential" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header float-right">

                    <h5>Actualizar credenciales</h5>

                    <div class="text-right">
                        <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                    </div>

                </div>

                <div class="modal-body">
                    <div>
                        <div class="box">

                            <label>Username:</label>
                            <input id="iptNewUsername" type="text" class="form-control" required autocomplete="off">

                            <label>Password:</label>
                            <input id="iptNewPassword" type="password" class="form-control" required autocomplete="off">

                            <label>Seleccione su roll:</label>
                            <select id="sltNewRoles" class="form-control">
                                <option>TECNICO</option>
                                <option>CONSUMIDOR</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btnUpdateCredential" type="button" class="btn btn-primary" data-dismiss="modal">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mdlUpdateContract" class="modal fade" tabindex="-1" aria-labelledby="mdlUpdateContract" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header float-right">

                    <h5>Renovar membresia</h5>

                    <div class="text-right">
                        <i data-dismiss="modal" aria-label="Close" class="fa fa-close"></i>
                    </div>

                </div>

                <div class="modal-body">
                    <div>
                        <div class="box">

                            <label>DNI:</label>
                            <input id="iptPersonId" type="text" class="form-control" placeholder="Escriba su dni" required autocomplete="off">
                            <br />

                            <label>Roll:</label>
                            <br />
                            <select id="sltPersonRoles">
                                <option selected>TECNICO</option>
                                <option>CONSUMIDOR</option>
                            </select>
                            <br />

                            <label>Membresias:</label>
                            <br />
                            <select id="sltMemberships"></select>

                            <br />
                            <span style="color:red">Cualquier membresia que seleccione, tendra una vigencia de 6 meses!</span>
                            <br />

                            <span id="spnPrice"></span>
                            <br />

                            <span id="spnPolicies"></span>
                            <br />

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btnUpdateContract" type="button" class="btn btn-primary" data-dismiss="modal">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="mdlTermsConditions" class="modal fade" tabindex="-1" aria-labelledby="mdlTermsConditions" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Acuerdo de Servicio - SaaS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <p style="text-align: justify;">
                        Al acceder, registrarse o utilizar la aplicación HelpTech, el Usuario declara que ha leído, comprendido y aceptado íntegramente el presente Acuerdo de Servicio. Este constituye un contrato legalmente vinculante entre el Usuario y Technology Advances Services, titular y operadora de la plataforma.
                    </p>
                    <p style="text-align: justify;">
                        HelpTech es una plataforma provista bajo el modelo SaaS (Software como Servicio), que permite a los Usuarios acceder a herramientas digitales para la gestión, solicitud y oferta de servicios técnicos especializados. La Empresa otorga una licencia limitada, no exclusiva, intransferible y revocable para el uso de la plataforma conforme a este acuerdo.
                    </p>
                    <p style="text-align: justify;">
                        El uso completo de la plataforma requiere la creación de una cuenta mediante el registro de datos personales veraces y actualizados, incluyendo DNI, nombre completo, correo electrónico y número de teléfono móvil. El Usuario es responsable de mantener la confidencialidad de sus credenciales de acceso.
                    </p>
                    <p style="text-align: justify;">
                        El acceso a los servicios está condicionado a la suscripción de un plan de servicio. Los detalles de cada plan (precio, duración y características) estarán claramente especificados dentro de la aplicación. El pago se efectúa exclusivamente mediante tarjeta de crédito o débito a través de pasarelas de pago seguras.
                    </p>
                    <p style="text-align: justify;">
                        Todos los derechos de propiedad intelectual relacionados con la plataforma, incluyendo el código fuente, diseño, funcionalidades y contenido, son de exclusiva propiedad de Technology Advances Services. Nada en este acuerdo transfiere derechos de propiedad al Usuario.
                    </p>
                    <p style="text-align: justify;">
                        Esta aplicación y su concepto original son propiedad de la empresa Technology Advances Services, titular exclusivo de todos los derechos de autor, propiedad intelectual y responsabilidad comercial. Cualquier uso no autorizado de su contenido será considerado una infracción conforme a la legislación vigente.
                    </p>
                    <p style="text-align: justify;">
                        La Empresa se compromete a garantizar la privacidad y protección de los datos personales suministrados por los Usuarios. Esta información será tratada con estricta confidencialidad y protegida mediante mecanismos de seguridad adecuados, incluyendo la implementación de tokens de autenticación en el backend.
                    </p>
                    <p style="text-align: justify;">
                        Para consultas, quejas o solicitudes relacionadas con este Acuerdo de Servicio, los Usuarios pueden contactarnos a través del correo electrónico: <strong>technologyadvancesservices@gmail.com</strong>.
                    </p>

                    <h6 style="text-align: center; color: red;">Modificaciones y Terminación</h6>
                    <p style="text-align: justify;">
                        La Empresa se reserva el derecho de modificar este Acuerdo en cualquier momento. Las modificaciones serán notificadas dentro de la aplicación. Asimismo, podrá suspender o cancelar el acceso del Usuario ante cualquier incumplimiento. El Usuario también podrá cancelar su cuenta en cualquier momento desde la configuración de perfil.
                    </p>

                    <h6 style="text-align: center; color: red;">Limitación de Responsabilidad</h6>
                    <p style="text-align: justify;">
                        La Empresa no será responsable por daños directos, indirectos, incidentales o consecuentes derivados del uso o la imposibilidad de uso de la plataforma. El Usuario acepta utilizar el servicio bajo su propio riesgo.
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#iptLogin').prop('disabled', false);
            $('#iptLogin').val('Ingresar');

            $(window).on('load', function () {

                $('#iptLogin').prop('disabled', false);
                $('#iptLogin').val('Ingresar');

                loadMemberships();
            });

            $('#frmCredentials').on('submit', function () {

                $('#iptLogin').prop('disabled', true);
                $('#iptLogin').val('Iniciando sesion...');

                var credentials = new FormData();

                credentials.append('Username', $('#iptUsername').val());
                credentials.append('Password', $('#iptPassword').val());
                credentials.append('Role', $('#sltRoles').val());

                login(credentials);

                return false;
            });

            $('#btnUpdateCredential').on('click', function () {

                var credentials = new FormData();

                credentials.append('Username', $('#iptNewUsername').val());
                credentials.append('Password', $('#iptNewPassword').val());
                credentials.append('Role', $('#sltNewRoles').val());

                updateCredential(credentials);
            });

            $('#btnUpdateContract').on('click', function () {

                var information = new FormData();

                information.append('MembershipId', $('#sltMemberships').val());
                
                if ($('#sltPersonRoles').val() === 'TECNICO') {

                    information.append('TechnicalId', $('#iptPersonId').val());
                }
                else if ($('#sltPersonRoles').val() === 'CONSUMIDOR') {

                    information.append('ConsumerId', $('#iptPersonId').val());
                }

                updateContract(information);
            });

            $('#sltMemberships').on('change', function () {

                jQuery.ajax({

                    url: '@Url.Action("MembershipById", "Access")' + '?id=' + $(this).val(),
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                       $('#spnPrice').text(`Precio: S/${data.Price}`);
                       $('#spnPolicies').text(`Politicas: ${data.Policies}`);
                    },
                    error: function () {

                        window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            });

            function login(credentials) {

                jQuery.ajax({

                    url: '@Url.Action("Login", "Access")',
                    method: 'POST',
                    data: credentials,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        if ($('#sltRoles').val() === 'TECNICO' && data === true) {

                            window.open('@Url.Action("InterfaceTechnical", "Technicals")', "_self");
                        }
                        else if ($('#sltRoles').val() === 'CONSUMIDOR' && data === true) {

                            window.open('@Url.Action("InterfaceConsumer", "Consumers")', "_self");
                        }
                        else {

                            $('#iptLogin').prop('disabled', false);
                            $('#iptLogin').val('Ingresar');

                            Swal.fire({

                                icon: 'error',
                                title: 'Credenciales incorrectas!',
                                text: 'Ocurrio un error al validar sus credenciales, asegurese de estar con una membresia vigente o en todo caso digite nuevamente sus credenciales.'
                            });
                        }
                    },
                    error: function () {

                        window.open('@Url.Action("Error", "Home")', "_self");
                    }
                });
            }

            function updateCredential(credentials) {

                jQuery.ajax({

                    url: '@Url.Action("UpdateCredential", "Access")',
                    method: 'POST',
                    data: credentials,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        if (data === true) {

                            Swal.fire({

                                icon: 'success',
                                title: 'Credenciales actualizadas correctamente!',
                                text: 'Tus credenciales se actualizaron correctamente, recuerde que su sesión expira en 1 hora.',
                                timer: 5000,
                                timerProgressBar: true,
                                willClose: () => {

                                    window.open('@Url.Action("Login", "Access")', "_self");
                                }
                            });
                        }
                        else {

                            Swal.fire({

                                icon: 'error',
                                title: 'Actualizacion de credenciales incorrecta!',
                                text: 'Ocurrio un error al actualizar sus credenciales, vuelva a escribir.'
                            });
                        }
                    },
                    error: function () {

                        window.open('@Url.Action("Error", "Home")', "_self");
                    }
                });
            }

            function updateContract(information) {

                jQuery.ajax({

                    url: '@Url.Action("CreateContract", "Access")',
                    method: 'POST',
                    data: information,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        if (data === true) {

                            Swal.fire({

                                icon: 'success',
                                title: 'Contrato actualizado correctamente!',
                                text: 'Tu contrato se actualizo, recuerde que su vence en 6 meses.',
                                timer: 5000,
                                timerProgressBar: true,
                                willClose: () => {

                                    window.open('@Url.Action("Login", "Access")', "_self");
                                }
                            });
                        }
                        else {

                            Swal.fire({

                                icon: 'error',
                                title: 'Error al actualizar contrato!',
                                text: 'Se produjo un error al intentar actualizar su contrato, verifique si su contrato sigue vigente iniciando sesion.'
                            });
                        }
                    },
                    error: function () {

                        window.open('@Url.Action("Error", "Home")', "_self");
                    }
                });
            }

            function loadMemberships() {

                jQuery.ajax({

                    url: '@Url.Action("AllMemberships", "Access")',
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        var contentHtml = '';

                        for (const item of data) {

                            contentHtml += `<option value="${item.Id}">${item.Name}</option>`;
                        }

                        $('#sltMemberships').html(contentHtml);
                    },
                    error: function () {

                        window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            }

        });

    </script>

</body>
</html>