@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es-pe">
<head>

    <meta name="viewport" content="width=device-width" />
    <link id="bootstrap-css" rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="~/access/css/register-technical.css" />
    <title>Registrar tecnico - HelpTechAppWeb</title>

</head>
<body>

    <div class="container">
        <form id="frmTechnicianData" class="form-horizontal" role="form" enctype="multipart/form-data">

            <h2>Registrar datos</h2>

            <div class="form-group">
                <label class="col-sm-3 control-label">DNI:</label>

                <div class="col-sm-9">
                    <input id="iptId" type="text" placeholder="Escriba su DNI" class="form-control" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Foto Perfil:</label>

                <div class="col-sm-9">
                    <input id="iptProfile" type="file" class="form-control" required autocomplete="off">
                    <span class="help-block">Subir archivo con el siguiente nombre: (Perfil-TU DNI)</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Nombres:</label>

                <div class="col-sm-9">
                    <input id="iptFirstname" type="text" placeholder="Escriba su nombre" class="form-control" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Apellidos:</label>

                <div class="col-sm-9">
                    <input id="iptLastname" type="text" placeholder="Escriba su apellido" class="form-control" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Edad:</label>

                <div class="col-sm-9">
                    <input id="iptAge" type="text" placeholder="Escriba su edad" class="form-control" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Genero:</label>

                <div class="col-sm-9">
                    <select id="sltGenre" class="form-control" required>

                        <option>MASCULINO</option>
                        <option>FEMENINO</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Telefono:</label>

                <div class="col-sm-9">
                    <input id="iptPhone" type="text" placeholder="Escriba su numero" class="form-control" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Correo:</label>

                <div class="col-sm-9">
                    <input id="iptEmail" type="email" placeholder="Escriba su correo" class="form-control" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Contraseña:</label>

                <div class="col-sm-9">
                    <input id="iptCode" type="password" placeholder="Escriba su contraseña" class="form-control" required autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Departamento:</label>

                <div class="col-sm-9">
                    <select id="sltDepartments" class="form-control" required></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Distrito:</label>

                <div class="col-sm-9">
                    <select id="sltDistricts" class="form-control" required></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Especialidad:</label>

                <div class="col-sm-9">
                    <select id="sltSpecialties" class="form-control" required></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">PDF Antecedentes:</label>

                <div class="col-sm-9">
                    <input id="iptCriminalRecord" type="file" class="form-control" required autocomplete="off">
                    <span class="help-block">Subir archivo con el siguiente nombre: (Antecedente-TU DNI)</span>
                </div>
            </div>

            <button id="btnRegisterTechnical" type="submit" class="btn btn-primary btn-block">Registrar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#btnRegisterConsumer').prop('disabled', false);
            $('#btnRegisterConsumer').text('Registrar');

            $(window).on('load', function () {

                loadSpecialties();
                loadDepartments();
            });

            $('#sltDepartments').on('change', function () {

                jQuery.ajax({

                    url: '@Url.Action("DistrictsByDepartment", "Locations")' + '?departmentId=' + $(this).val(),
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        var contentHtml = '';

                        for (const item of data) {

                            contentHtml += `<option value="${item.Id}">${item.Name}</option>`;
                        }

                        $('#sltDistricts').html(contentHtml);
                    },
                    error: function () {

                        //window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            });

            $('#frmTechnicalData').on('submit', function () {

                $('#btnRegisterTechnical').prop('disabled', true);
                $('#btnRegisterTechnical').text('Registrando informancion...');

                var information = new FormData();

                information.append('Id', $('#iptId').val());
                information.append('SpecialtyId', $('#sltSpecialties').val());
                information.append('DistrictId', $('#sltDistricts').val());
                information.append('FirstName', $('#iptFirstName').val());
                information.append('LastName', $('#iptLastName').val());
                information.append('Age', $('#iptAge').val());
                information.append('Genre', $('#sltGenre').val());
                information.append('Phone', $('#iptPhone').val());
                information.append('Email', $('#iptEmail').val());
                information.append('Code', $('#iptCode').val());

                information.append('profile', $('#iptProfile').prop('files')[0]);
                information.append('criminalRecord', $('#iptCriminalRecor').prop('files')[0]);

                registerTechnical(information);

                return false;
            });

            function loadSpecialties() {

                jQuery.ajax({

                    url: '@Url.Action("AllSpecialties", "Specialties")',
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        var contentHtml = '';

                        for (const item of data) {

                            contentHtml += `<option value="${item.Id}">${item.Name}</option>`;
                        }

                        $('#sltSpecialties').html(contentHtml);
                    },
                    error: function () {

                        //window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            }

            function loadDepartments() {

                jQuery.ajax({

                    url: '@Url.Action("AllDepartments", "Locations")',
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        var contentHtml = '';

                        for (const item of data) {

                            contentHtml += `<option value="${item.Id}">${item.Name}</option>`;
                        }

                        $('#sltDepartments').html(contentHtml);
                    },
                    error: function () {

                        //window.open('@Url.Action("Error", "Home")', '_self');
                    }
                });
            }

            function registerTechnical(information) {

                jQuery.ajax({

                    url: '@Url.Action("RegisterTechnical", "Access")',
                    method: 'POST',
                    data: information,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {

                        if (data === true) {

                            Swal.fire({

                                icon: 'success',
                                title: 'Registro correcto!',
                                text: 'Los datos se registraron correctamente, ahora puede iniciar sesion.',
                                timer: 5000,
                                timerProgressBar: true,
                                willClose: () => {

                                    window.open('@Url.Action("Login", "Access")', "_self");
                                }
                            });
                        }
                        else {

                            Swal.fire({

                                icon: 'error',
                                title: 'Ocurrio un error al registrar!',
                                text: 'Los datos no se registraron, asegurese de escribir correctamente sus datos.'
                            });
                        }
                    },
                    error: function () {

                        //window.open('@Url.Action("Error", "Home")', "_self");
                    }
                });
            }
        });

    </script>

</body>
</html>