@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es-pe">
<head>

    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" />
    <link rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <link id="bootstrap-css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/communications/css/messaging.css" />
    <title>Mensajeria - HelpTechAppWeb</title>

</head>
<body>

    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 col-xl-6 chat">
                <div class="card">

                    <div class="card-header msg_head">
                        <div id="dvProfile" class="d-flex bd-highlight"></div>
                    </div>

                    <div id="dvChat" class="card-body msg_card_body"> </div>

                    <div class="card-footer">
                        <div class="input-group">

                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>

                            <textarea id="txaMessage" class="form-control type_msg" placeholder="Escribe tu mensaje..."></textarea>

                            <div class="input-group-append">
                                <span id="btnSendMessage" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <input id="iptChatRoomId" type="hidden" value="@ViewBag.ChatRoomId" />
    <input id="iptRole" type="hidden" value="@ViewBag.Role" />
    <input id="iptProfileUrlTechnical" type="hidden" value="@ViewBag.ProfileUrlTechnical" />
    <input id="iptFirstnameTechnical" type="hidden" value="@ViewBag.FirstnameTechnical" />
    <input id="iptProfileUrlConsumer" type="hidden" value="@ViewBag.ProfileUrlConsumer" />
    <input id="iptFirstnameConsumer" type="hidden" value="@ViewBag.FirstnameConsumer" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            var room = $('#iptChatRoomId').val();
            var webSocket = new WebSocket('ws://helptechwebapp.runasp.net/chat?room=' + room);

            var contentHtml = '';

            $(window).on('load', function () {

                loadInformation();
                loadChatsByChatRoom();
            });

            $('#btnSendMessage').on('click', async function () {

                var result = await sendMessageToApi();

                if (result !== false) {

                    sendMessageToSocket();
                }
            });

            webSocket.onopen = function (event) {

                console.log('Connected to WebSocket server.');
            };

            webSocket.onmessage = function (event) {

                const message = JSON.parse(event.data);

                if (message.room === room) {

                    displayMessage(message);
                }
            };

            function loadInformation() {

                contentHtml = '';

                var profileUrl = '';
                var firstname = '';

                if ($('#iptRole').val() === 'TECNICO') {

                    profileUrl = $('#iptProfileUrlConsumer').val();
                    firstname = $('#iptFirstnameConsumer').val();

                    contentHtml = `
                        <div class="img_cont">
                            <img src="${profileUrl}" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>${firstname}</span>
                        </div>`;
                }
                else if ($('#iptRole').val() === 'CONSUMIDOR') {

                    profileUrl = $('#iptProfileUrlTechnical').val();
                    firstname = $('#iptFirstnameTechnical').val();

                    contentHtml = `
                        <div class="img_cont">
                            <img src="${profileUrl}" class="rounded-circle user_img">
                            <span class="online_icon"></span>
                        </div>
                        <div class="user_info">
                            <span>${firstname}</span>
                        </div>`;
                }

                $('#dvProfile').html(contentHtml);
            }

            async function sendMessageToApi() {

                var information = new FormData();

                information.append('ChatRoomId', room);
                information.append('Sender', $('#iptRole').val());
                information.append('Message', $('#txaMessage').val());

                var result = await jQuery.ajax({

                    url: '@Url.Action("SendMessage", "Communications")',
                    method: 'POST',
                    data: information,
                    cache: false,
                    contentType: false,
                    processData: false
                });

                return result;
            }

            function loadChatsByChatRoom() {

                contentHtml = '';

                jQuery.ajax({

                    url: '@Url.Action("ChatByChatRoom", "Communications")',
                    method: 'GET',
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        var profileUrl = '';
                        var shippingDate;

                        if ($('#iptRole').val() === 'TECNICO') {

                            for (const item of data) {

                                shippingDate = new Date(item.ShippingDate);

                                if (!isNullOrEmpty(item.TechnicalId)) {

                                    profileUrl = $('#iptProfileUrlTechnical').val();

                                    contentHtml += `
                                        <div class="d-flex justify-content-end mb-4">
                                            <div class="msg_cotainer_send">
                                                ${item.Message}
                                                <span class="msg_time_send">${getFormattedDate(shippingDate)}</span>
                                            </div>
                                            <div class="img_cont_msg">
                                                <img src="${profileUrl}" class="rounded-circle user_img">
                                            </div>
                                        </div>`;
                                }
                                else if (!isNullOrEmpty(item.ConsumerId)) {

                                    profileUrl = $('#iptProfileUrlConsumer').val();

                                    contentHtml += `
                                        <div class="d-flex justify-content-start mb-4">
                                            <div class="img_cont_msg">
                                                <img src="${profileUrl}" class="rounded-circle user_img">
                                            </div>
                                            <div class="msg_cotainer">
                                                ${item.Message}
                                                <span class="msg_time">${getFormattedDate(shippingDate)}</span>
                                            </div>
                                        </div>`;
                                }
                            }
                        }
                        else if ($('#iptRole').val() === 'CONSUMIDOR') {

                            for (const item of data) {

                                shippingDate = new Date(item.ShippingDate);

                                if (!isNullOrEmpty(item.TechnicalId)) {

                                    profileUrl = $('#iptProfileUrlTechnical').val();

                                    contentHtml += `
                                        <div class="d-flex justify-content-start mb-4">
                                            <div class="img_cont_msg">
                                                <img src="${profileUrl}" class="rounded-circle user_img">
                                            </div>
                                            <div class="msg_cotainer">
                                                ${item.Message}
                                                <span class="msg_time">${getFormattedDate(shippingDate)}</span>
                                            </div>
                                        </div>`;
                                }
                                else if (!isNullOrEmpty(item.ConsumerId)) {

                                    profileUrl = $('#iptProfileUrlConsumer').val();

                                    contentHtml += `
                                        <div class="d-flex justify-content-end mb-4">
                                            <div class="msg_cotainer_send">
                                                ${item.Message}
                                                <span class="msg_time_send">${getFormattedDate(shippingDate)}</span>
                                            </div>
                                            <div class="img_cont_msg">
                                                <img src="${profileUrl}" class="rounded-circle user_img">
                                            </div>
                                        </div>`;
                                }
                            }
                        }

                        $('#dvChat').html(contentHtml);
                    },
                    error: function () {

                        window.open('@Url.Action("Error", "Home")', "_self");
                    }
                });
            }

            function sendMessageToSocket() {

                const user = document.getElementById('iptRole');
                const message = document.getElementById('txaMessage');

                if (message.value.trim() !== '') {

                    const messageObject = {

                        room: room,
                        user: user.value,
                        text: message.value
                    };

                    webSocket.send(JSON.stringify(messageObject));

                    displayMessage(messageObject);

                    message.value = '';
                }
            }

            function displayMessage(message) {

                var profileUrl = '';
                var date = new Date();

                if ($('#iptRole').val() === 'TECNICO') {

                    if (message.user === 'TECNICO') {

                        profileUrl = $('#iptProfileUrlTechnical').val();

                        contentHtml += `
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    ${message.text}
                                    <span class="msg_time_send">${getFormattedDate(date)}</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="${profileUrl}" class="rounded-circle user_img">
                                </div>
                            </div>`;
                    }
                    else if (message.user == 'CONSUMIDOR') {

                        profileUrl = $('#iptProfileUrlConsumer').val();

                        contentHtml += `
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="${profileUrl}" class="rounded-circle user_img">
                                </div>
                                <div class="msg_cotainer">
                                    ${message.text}
                                    <span class="msg_time">${getFormattedDate(date)}</span>
                                </div>
                            </div>`;
                    }
                }
                else if ($('#iptRole').val() === 'CONSUMIDOR') {

                    if (message.user == 'TECNICO') {

                        profileUrl = $('#iptProfileUrlTechnical').val();

                        contentHtml += `
                            <div class="d-flex justify-content-start mb-4">
                                <div class="img_cont_msg">
                                    <img src="${profileUrl}" class="rounded-circle user_img">
                                </div>
                                <div class="msg_cotainer">
                                    ${message.text}
                                    <span class="msg_time">${getFormattedDate(date)}</span>
                                </div>
                            </div>`;

                    }
                    else if (message.user == 'CONSUMIDOR') {

                        profileUrl = $('#iptProfileUrlConsumer').val();

                        contentHtml += `
                            <div class="d-flex justify-content-end mb-4">
                                <div class="msg_cotainer_send">
                                    ${message.text}
                                    <span class="msg_time_send">${getFormattedDate(date)}</span>
                                </div>
                                <div class="img_cont_msg">
                                    <img src="${profileUrl}" class="rounded-circle user_img">
                                </div>
                            </div>`;
                    }
                }

                $('#dvChat').html(contentHtml);
            }

            function getFormattedDate(date) {

                let day = String(date.getDate()).padStart(2, '0');
                let mounth = String(date.getMonth() + 1).padStart(2, '0');
                let year = date.getFullYear();
                let hour = String(date.getHours()).padStart(2, '0');
                let minutes = String(date.getMinutes()).padStart(2, '0');
                let seconds = String(date.getSeconds()).padStart(2, '0');

                return `${day}/${mounth}/${year} ${hour}:${minutes}`;
            }

            function isNullOrEmpty(str) {
                return !str || str === undefined;
            }
        });

    </script>

</body>
</html>